.navmenu {
  color: #fff;
  font-weight: 500;
  margin: 0 8px;
  transition: 0.2s ease;
}

.navmenu:hover {
  color: #d4b256 !important;
}

/* Active page highlight */
.active-link {
  color: #d4b256 !important;
  font-weight: 600;
  border-bottom: 2px solid #d4b256;
}
.navmenu:active {
  transform: scale(0.95);
}